h1 {
  margin-top: 5%;
  justify-self: center;
  font-size: xx-large;
}

h2 {
  margin-top: 1%;
  justify-self: center;
  font-size: medium;
}

h4 {
  justify-self: center;
  font-size: x-large;
  margin-top: 10%;
  margin-bottom: 0.1%;
}

.container {
  margin-top: 20%;
  margin-bottom: 20%;
}
